{% extends 'base.html' %}

{% block content %}      

{% load crispy_forms_tags %}


{% load static %}

<!--Login--> 
<div class="container py-5 col-md-6 " style="margin-left:35%;">
   <h3 class="text-white">Please login for bookings</h3><br>
  <div class="bg-info p-5" style="width:410px; border-radius: 40px;">
  <form method="POST" style="width:300px; ">
    {% csrf_token %}
    {{ login_form|crispy }}
    <br>
    <button class="btn btn-primary" type="submit">Login</button>
  </form><br><br>
  <p class="">Don't have an account? <a href="/register"><br>Create an account</a>.</p>
</div></div>

{% endblock %}


